@charset "UTF-8";
/********** Main **********/
/********** Colors **********/
/*==** All **==*/
/*==** Index **==*/
/*==** Form **==*/
/*==** Catalog **==*/
/*==** Styleguide **==*/
/********** Fonts **********/
@font-face {
  font-family: "Oswald Regular";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../../fonts/oswaldregular.woff2") format("woff2"), url("../../fonts/oswaldregular.woff") format("woff"); }

@font-face {
  font-family: "Oswald Medium";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("../../fonts/oswaldmedium.woff2") format("woff2"), url("../../fonts/oswaldmedium.woff") format("woff"); }

img {
  max-width: 100%;
  height: auto; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

/********** Alone & sad mixin **********/
/********** Blocks **********/
/*==** All **==*/
.page {
  font-family: "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  height: 100%; }

.page__body {
  min-height: 100%;
  background-color: #ffffff;
  color: #444444;
  margin: 0; }

.page-header__logo {
  outline: 3px solid rgba(255, 0, 0, 0.8);
  outline-offset: -3px; }

.page-main {
  margin: 0; }

.page-main__catalog {
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  margin-top: 27px;
  padding-bottom: 41px;
  margin-left: 20px;
  margin-bottom: 0; }

.page-footer {
  margin: 0;
  background-color: #f2f2f2; }

.page-footer__img-wrapper {
  margin: 0;
  padding-top: 39px;
  padding-bottom: 32px;
  border-bottom: 1px solid #d9d9d9; }

.page-footer__paragraph {
  padding-top: 22px;
  padding-bottom: 32px; }

.main-nav {
  outline: 3px solid rgba(0, 255, 0, 0.8);
  outline-offset: -3px; }

.site-list__item {
  font-family: "Oswald Medium", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  list-style: none;
  color: #000000;
  text-transform: uppercase;
  padding-bottom: 24px;
  padding-top: 22px;
  border-top: 1px solid #e6e6e6; }

.main-nav__toggle {
  position: absolute;
  right: 24px;
  top: 1px;
  width: 18px;
  height: 18px;
  opacity: 1;
  border: 0;
  background-color: #ffffff; }
  .main-nav__toggle:hover {
    opacity: 1; }
  .main-nav__toggle::before, .main-nav__toggle::after {
    position: absolute;
    left: 8px;
    content: " ";
    height: 24px;
    top: -2px;
    width: 2px;
    background-color: #000000; }
  .main-nav__toggle::before {
    transform: rotate(45deg); }
  .main-nav__toggle::after {
    transform: rotate(-45deg); }

.social {
  margin: 0;
  padding-top: 20px;
  padding-bottom: 21px;
  background-color: #f2f2f2;
  border-bottom: 1px solid #d9d9d9; }

.button-standard {
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #68b738;
  text-decoration: none; }

.link-standard {
  text-decoration: none;
  color: #000000; }

.list-standard {
  margin: 0;
  padding: 0;
  list-style: none; }

/*==** Index **==*/
.example {
  margin: 0;
  background-color: #eaeaea;
  outline: 3px solid rgba(255, 0, 0, 0.8);
  outline-offset: -3px;
  /* //TODO: Это временное явление */
  padding-left: 20px; }

.example__title {
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  color: "Arial", "Helvetica", sans-serif;
  text-align: center;
  margin-top: 0;
  padding-top: 27px; }

.example__list {
  position: relative;
  /* //TODO: flex для того, чтобы было видно блок */
  display: flex; }

.example__term {
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: #000000;
  border: 1px solid #cdcdcd;
  border-radius: 5%;
  width: 124px;
  height: 64px;
  text-transform: uppercase; }

.example__definition {
  font-family: "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  position: absolute;
  text-align: center;
  z-index: 1;
  max-width: 80px;
  margin-top: 58px;
  margin-left: 23px;
  background-color: #eaeaea; }
  .example__definition--time {
    margin-left: 148px; }

.example__cost {
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #000000; }

.example__button {
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  border: 0;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
  color: #000000; }

.example__controls {
  height: 20px;
  box-sizing: border-box; }

.example__scale {
  background-color: #ffffff;
  border: 1px solid #cdcdcd;
  border-radius: 10px;
  width: 84px;
  height: 14px;
  padding-top: 3px;
  box-sizing: border-box; }

.example__bar {
  background-color: #68b738;
  border: 1px solid gray;
  width: 35px;
  height: 6px;
  border-radius: 10px;
  box-sizing: border-box;
  margin-left: 6px; }

.example__slider {
  padding-bottom: 25px; }

.features {
  margin: 0;
  outline: 3px solid rgba(160, 120, 0, 0.8);
  outline-offset: -3px; }

.features__list {
  padding-bottom: 18px; }

.features__title {
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
  padding-left: 20px;
  text-align: center;
  margin-top: 0;
  padding-top: 27px; }

.features__paragraph {
  position: relative;
  margin-bottom: 24px;
  min-height: 54px;
  padding-left: 100px; }
  .features__paragraph--one::before {
    content: "";
    position: absolute;
    background-image: url("../../img/features-leaf-icon.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-color: #68b738;
    width: 60px;
    height: 60px;
    top: 0;
    left: 20px; }
  .features__paragraph--two::before {
    content: "";
    position: absolute;
    background-image: url("../../img/features-tub-icon.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-color: #68b738;
    width: 60px;
    height: 60px;
    top: 0;
    left: 20px; }
  .features__paragraph--three::before {
    content: "";
    position: absolute;
    background-image: url("../../img/features-eat-icon.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-color: #68b738;
    width: 60px;
    height: 60px;
    top: 0;
    left: 20px; }
  .features__paragraph--four::before {
    content: "";
    position: absolute;
    background-image: url("../../img/features-alarm-icon.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-color: #68b738;
    width: 60px;
    height: 60px;
    top: 0;
    left: 20px; }

.find-us {
  margin: 0;
  outline: 3px solid rgba(200, 0, 230, 0.8);
  outline-offset: -3px; }

.find-us--color {
  background-color: #f2f2f2; }

.find-us__invite {
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #111111;
  margin-top: 0;
  padding-top: 28px;
  padding-left: 19px; }

.find-us__address {
  line-height: 20px;
  padding-left: 19px; }

.find-us__map-wrapper {
  background-image: url("../../img/find-us-map-mini.jpg");
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
  width: 320px;
  height: 362px;
  position: relative; }

.find-us__img {
  position: absolute;
  top: 139px;
  left: 134px; }

.program {
  margin: 0;
  outline: 3px solid rgba(160, 120, 0, 0.8);
  outline-offset: -3px; }

.program__article {
  margin-top: 22px;
  background-color: #f2f2f2;
  margin-left: 20px;
  margin-right: 20px;
  outline: 3px solid rgba(130, 220, 0, 0.8);
  outline-offset: -3px; }

.program__wrapper:last-child {
  padding-bottom: 0;
  margin-bottom: 0; }

.program__wrapper {
  padding-top: 1px;
  padding-bottom: 1px;
  margin: 0; }

.program-article__title {
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: #000000;
  position: relative;
  text-align: center;
  padding-top: 30px; }
  .program-article__title--down::before {
    content: url("../../img/program-cat-sitting-mini.svg");
    position: absolute;
    top: 21px;
    left: 22px;
    width: 50px;
    height: 53px; }
  .program-article__title--up::before {
    content: url("../../img/program-cat-sneak-mini.svg");
    position: absolute;
    top: 21px;
    left: 13px;
    width: 67px;
    height: 50px; }

.program-article__paragraph {
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 23px;
  padding-left: 20px; }

.program-article-link__paragraph:last-of-type {
  margin-bottom: 0; }

.program-article__link {
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase; }

.program-article-link__paragraph {
  padding-bottom: 18px; }

.promo {
  margin: 0;
  outline: 3px solid rgba(160, 120, 0, 0.8);
  outline-offset: -3px;
  position: relative; }
  .promo::before, .promo::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-height: 302px; }
  .promo::after {
    background-image: url("../../img/promo-cat-mini.jpg");
    background-repeat: no-repeat;
    background-position: top center; }
  .promo::before {
    background-color: #68b738; }

.promo__image {
  background-image: url("../../img/promo-cat-mini.jpg");
  background-repeat: no-repeat;
  background-position: top left;
  height: 302px;
  background-color: #68b738; }

.promo__title {
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  margin-top: 0;
  padding-top: 19px; }

.promo__paragraph {
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: #ffffff; }

/*==** Form **==*/
.program-selection {
  margin: 0; }

.program-selection__title {
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  padding-left: 20px; }

.program-selection__paragraph {
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  padding-left: 20px; }

.program-selection__input:not(:checked) + label::before {
  content: "";
  position: absolute;
  left: -43px;
  top: -8px;
  width: 31px;
  height: 31px;
  border: 1px solid #cdcdcd;
  border-radius: 50%;
  box-sizing: border-box; }

.program-selection__input:checked + label::before {
  content: "";
  position: absolute;
  left: -43px;
  top: -8px;
  width: 31px;
  height: 31px;
  border: 1px solid #cdcdcd;
  border-radius: 50%;
  box-sizing: border-box; }

.program-selection__input:checked + label::after {
  content: "";
  position: absolute;
  left: -35px;
  top: 1px;
  width: 14px;
  height: 13px;
  background-color: #68b738;
  border-radius: 50%;
  box-sizing: border-box; }

.program-selection__p {
  margin-left: 65px;
  position: relative;
  padding-bottom: 10px; }

.extra__paragraph {
  position: relative;
  margin-left: 62px; }

.extra__input:not(:checked) + label::before {
  content: "";
  position: absolute;
  left: -42px;
  top: -5px;
  width: 26px;
  height: 26px;
  border: 1px solid #cdcdcd;
  box-sizing: border-box; }

.extra__input:checked + label::before {
  content: "";
  position: absolute;
  left: -42px;
  top: -5px;
  width: 26px;
  height: 26px;
  border: 1px solid #cdcdcd;
  box-sizing: border-box; }

.extra__input:checked + label::after {
  content: "";
  position: absolute;
  left: -42px;
  top: -5px;
  width: 26px;
  height: 26px;
  background-image: url("../../img/extra-tick-icon.svg"); }

.extra__list:last-child {
  margin-bottom: 34px; }

.selection-form__button {
  margin-bottom: 21px; }

.selection-form__required {
  margin-bottom: 31px;
  margin-top: 0; }

.selection-form__submit-wrapper {
  padding-bottom: 1px; }

.selection-form {
  margin: 0;
  outline: 3px solid rgba(160, 120, 0, 0.8);
  outline-offset: -3px; }

.selection-form__fieldset {
  border: none;
  padding: 0;
  box-sizing: border-box; }

.selection-form__input {
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  height: 45px;
  border: 1px solid #cdcdcd;
  box-sizing: border-box; }

.selection-form__input::-webkit-input-placeholder {
  color: #444444;
  padding-left: 16px; }

.selection-form__input::-moz-placeholder {
  color: #444444;
  padding-left: 16px; }

.selection-form__input:-moz-placeholder {
  color: #444444;
  padding-left: 16px; }

.selection-form__label {
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444; }

.selection-form__list {
  margin: 0;
  padding-top: 20px; }
  .selection-form__list--border {
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9; }

.selection-form__fieldset--line {
  border-top: 2px solid #68b738;
  margin-top: 22px; }
  .selection-form__fieldset--line:nth-child(2) {
    padding-top: 15px; }

.selection-form__legend {
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
  padding-left: 20px;
  padding-right: 15px; }

.selection-form__textarea {
  margin-top: 37px;
  margin-bottom: 0;
  min-height: 150px;
  border: 1px solid #e7e7e7;
  box-sizing: border-box; }

.selection-form__textarea::-webkit-input-placeholder {
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  text-align: center; }

.selection-form__textarea:-moz-placeholder {
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  text-align: center; }

.selection-form__textarea::-moz-placeholder {
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  text-align: center; }

/*==** Catalog **==*/
.catalog-article {
  margin: 0; }

.catalog-article__button {
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px; }

.catalog-article__title {
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  text-transform: uppercase;
  color: #222222; }

.catalog-article__table-head {
  font-family: "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  text-align: left; }

.catalog-article__table-data {
  font-family: "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  text-align: center; }

.catalog-article__table {
  margin-bottom: 13px; }

.catalog-aside {
  margin: 0;
  position: relative;
  min-height: 289px;
  background-image: url("../../img/get-gift-gift-mini.svg");
  background-position: 50% 35%;
  background-repeat: no-repeat; }

.catalog-aside__image-main {
  margin-top: 39px;
  /* //TODO:display: flex; justify-content: center; */ }
  .catalog-aside__image-main::before, .catalog-aside__image-main::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-height: 289px; }
  .catalog-aside__image-main::after {
    background-image: url("../../img/get-gift-cat-medium.jpg");
    background-repeat: no-repeat;
    background-position: top center; }
  .catalog-aside__image-main::before {
    background-color: #68b738; }

.catalog-aside__paragraph {
  font-family: "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  margin-top: 186px;
  position: absolute; }

.catalog-aside--margin {
  margin-bottom: 35px; }

.catalog-extra-section__list {
  margin: 0; }

.catalog-extra-section__term {
  font-family: "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px; }

.catalog-extra-section__definition {
  font-family: "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  text-align: center; }

.catalog-extra-section__button {
  font-size: 16px;
  line-height: 20px; }

.catalog-extra-section__title {
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #222222;
  padding-top: 13px;
  padding-bottom: 13px;
  margin: 0; }

.catalog-extra {
  margin: 0;
  padding-top: 1px;
  position: relative; }

.catalog-extra__title {
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 34px;
  padding-top: 24px;
  padding-bottom: 36px;
  margin-bottom: 0;
  margin-top: 0;
  color: #000000;
  z-index: 1;
  padding-left: 22px;
  padding-right: 22px;
  display: inline-block;
  background-color: #ffffff; }
  .catalog-extra__title::before {
    content: "";
    position: absolute;
    left: 0;
    top: 45px;
    width: 100%;
    height: 2px;
    border: 1px solid #68b738;
    box-sizing: border-box;
    z-index: -1; }

.catalog-extra__item {
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 19px; }
  .catalog-extra__item:first-of-type {
    border-top: 1px solid #ebebeb; }

.catalog-main__list {
  margin-top: 0; }

.catalog-main__item {
  border-bottom: 1px solid #ebebeb;
  padding-top: 19px;
  padding-bottom: 25px; }
  .catalog-main__item:first-of-type {
    border-top: 1px solid #ebebeb; }

.catalog-main__section {
  padding-top: 25px;
  padding-bottom: 25px; }

.more-section {
  padding-bottom: 0;
  position: relative; }

.more-section__title {
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #111111; }

.more-section__paragraph {
  font-family: "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  text-align: center; }

.more-section__link {
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  background-color: #f2f2f2;
  text-align: center;
  color: #444444;
  text-transform: uppercase; }

/*# sourceMappingURL=style.css.map */
