@charset "UTF-8";
/********** Main **********/
/********** Colors **********/
/*==** All **==*/
/*==** Index **==*/
/*==** Form **==*/
/*==** Catalog **==*/
/*==** Styleguide **==*/
/********** Fonts **********/
@font-face {
  font-family: "Oswald Regular";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../../fonts/oswaldregular.woff2") format("woff2"), url("../../fonts/oswaldregular.woff") format("woff"); }

@font-face {
  font-family: "Oswald Medium";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("../../fonts/oswaldmedium.woff2") format("woff2"), url("../../fonts/oswaldmedium.woff") format("woff"); }

img {
  max-width: 100%;
  height: auto; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

/********** Blocks **********/
/*==** All **==*/
.page {
  height: 100%;
  font-family: "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px; }

.page__body {
  min-height: 100%;
  background-color: #ffffff;
  color: #444444;
  margin: 0; }

.page-header__logo {
  outline: 3px solid rgba(255, 0, 0, 0.8);
  outline-offset: -3px; }

.page-main {
  margin: 0; }

.page-footer {
  margin: 0;
  background-color: #f2f2f2; }

.page-footer__img-wrapper {
  margin: 0;
  padding-top: 39px;
  padding-bottom: 32px;
  border-bottom: 1px solid #d9d9d9; }

.page-footer__paragraph {
  padding-top: 22px;
  padding-bottom: 32px; }

.main-nav {
  outline: 3px solid rgba(0, 255, 0, 0.8);
  outline-offset: -3px; }

.site-list__item {
  list-style: none;
  color: #000000;
  font-family: "Oswald Medium", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  padding-bottom: 24px;
  padding-top: 22px;
  border-top: 1px solid #e6e6e6; }

.main-nav__toggle {
  position: absolute;
  right: 24px;
  top: 1px;
  width: 18px;
  height: 18px;
  opacity: 1;
  border: 0;
  background-color: #ffffff; }
  .main-nav__toggle:hover {
    opacity: 1; }
  .main-nav__toggle::before, .main-nav__toggle::after {
    position: absolute;
    left: 8px;
    content: " ";
    height: 24px;
    top: -2px;
    width: 2px;
    background-color: #000000; }
  .main-nav__toggle::before {
    transform: rotate(45deg); }
  .main-nav__toggle::after {
    transform: rotate(-45deg); }

.social {
  margin: 0;
  padding-top: 20px;
  padding-bottom: 21px;
  background-color: #f2f2f2;
  border-bottom: 1px solid #d9d9d9; }

.button-standard {
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #68b738; }

.link-standard {
  text-decoration: none;
  color: #000000; }

.list-standard {
  margin: 0;
  padding: 0;
  list-style: none; }

/*==** Index **==*/
.example {
  margin: 0;
  background-color: #eaeaea;
  outline: 3px solid rgba(255, 0, 0, 0.8);
  outline-offset: -3px;
<<<<<<< HEAD
=======
  /* //TODO: Это временное явление */
>>>>>>> 7142e91 (Заканчивает стилизацию главной)
  padding-left: 20px; }

.example__title {
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  color: "Arial", "Helvetica", sans-serif;
  text-align: center;
  margin-top: 0;
  padding-top: 27px; }

.example__list {
  position: relative;
  /* //TODO: flex для того, чтобы было видно блок */
  display: flex; }

.example__term {
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: #000000;
  border: 1px solid #cdcdcd;
  border-radius: 5%;
  width: 124px;
  height: 64px;
  text-transform: uppercase; }

.example__definition {
  position: absolute;
  font-family: "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  z-index: 1;
  max-width: 80px;
  margin-top: 58px;
  margin-left: 23px;
  background-color: #eaeaea; }
  .example__definition--time {
    margin-left: 148px; }

.example__cost {
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #000000; }

.example__button {
  border: 0;
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
<<<<<<< HEAD
  color: #000000; }

=======
  background-color: transparent;
  color: #000000; }

.example__controls {
  height: 20px;
  box-sizing: border-box; }

.example__scale {
  background-color: #ffffff;
  border: 1px solid #cdcdcd;
  border-radius: 10px;
  width: 84px;
  height: 14px;
  padding-top: 3px;
  box-sizing: border-box; }

.example__bar {
  background-color: #68b738;
  border: 1px solid gray;
  width: 35px;
  height: 6px;
  border-radius: 10px;
  box-sizing: border-box;
  margin-left: 6px; }

.example__slider {
  padding-bottom: 25px; }

>>>>>>> 7142e91 (Заканчивает стилизацию главной)
.features {
  margin: 0;
  outline: 3px solid rgba(160, 120, 0, 0.8);
  outline-offset: -3px; }

.features__list {
  padding-bottom: 18px; }

.features__title {
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
  padding-left: 20px;
<<<<<<< HEAD
  text-align: center; }
=======
  text-align: center;
  margin-top: 0;
  padding-top: 27px; }
>>>>>>> 7142e91 (Заканчивает стилизацию главной)

.features__paragraph {
  position: relative;
  margin-bottom: 24px;
  min-height: 54px;
  padding-left: 100px; }
  .features__paragraph--one::before {
    content: "";
    position: absolute;
    background-image: url("../../img/features-leaf-icon.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-color: #68b738;
    width: 60px;
    height: 60px;
    top: 0;
    left: 20px; }
  .features__paragraph--two::before {
    content: "";
    position: absolute;
    background-image: url("../../img/features-tub-icon.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-color: #68b738;
    width: 60px;
    height: 60px;
    top: 0;
    left: 20px; }
  .features__paragraph--three::before {
    content: "";
    position: absolute;
    background-image: url("../../img/features-eat-icon.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-color: #68b738;
    width: 60px;
    height: 60px;
    top: 0;
    left: 20px; }
  .features__paragraph--four::before {
    content: "";
    position: absolute;
    background-image: url("../../img/features-alarm-icon.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-color: #68b738;
    width: 60px;
    height: 60px;
    top: 0;
    left: 20px; }

<<<<<<< HEAD
=======
.find-us {
  margin: 0;
  outline: 3px solid rgba(200, 0, 230, 0.8);
  outline-offset: -3px; }

.find-us__invite {
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #111111;
  margin-top: 0;
  padding-top: 28px;
  padding-left: 19px; }

.find-us__address {
  line-height: 20px;
  padding-left: 19px; }

.find-us__map-wrapper {
  background-image: url("../../img/find-us-map-mini.jpg");
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
  width: 320px;
  height: 362px;
  position: relative; }

.find-us__img {
  position: absolute;
  top: 139px;
  left: 134px; }

>>>>>>> 7142e91 (Заканчивает стилизацию главной)
.program {
  margin: 0;
  outline: 3px solid rgba(160, 120, 0, 0.8);
  outline-offset: -3px; }

.program__article {
  margin-top: 22px;
  background-color: #f2f2f2;
  margin-left: 20px;
  margin-right: 20px;
  outline: 3px solid rgba(130, 220, 0, 0.8);
  outline-offset: -3px; }
<<<<<<< HEAD
=======

.program__wrapper:last-child {
  padding-bottom: 0;
  margin-bottom: 0; }

.program__wrapper {
  padding-top: 1px;
  padding-bottom: 1px;
  margin: 0; }
>>>>>>> 7142e91 (Заканчивает стилизацию главной)

.program-article__title {
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: #000000;
  position: relative;
  text-align: center;
  padding-top: 30px; }
  .program-article__title--down::before {
    content: url("../../img/program-cat-sitting-mini.svg");
    position: absolute;
    top: 21px;
    left: 22px;
    width: 50px;
    height: 53px; }
  .program-article__title--up::before {
    content: url("../../img/program-cat-sneak-mini.svg");
    position: absolute;
    top: 21px;
    left: 13px;
    width: 67px;
    height: 50px; }

.program-article__paragraph {
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 23px;
  padding-left: 20px; }
<<<<<<< HEAD
=======

.program-article-link__paragraph:last-of-type {
  margin-bottom: 0; }
>>>>>>> 7142e91 (Заканчивает стилизацию главной)

.program-article__link {
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase; }

.program-article-link__paragraph {
  padding-bottom: 18px; }

.promo {
  margin: 0;
  outline: 3px solid rgba(160, 120, 0, 0.8);
  outline-offset: -3px;
  position: relative; }
  .promo::before, .promo::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-height: 302px; }
  .promo::after {
    background-image: url("../../img/promo-cat-mini.jpg");
    background-repeat: no-repeat;
    background-position: top center; }
  .promo::before {
    background-color: #68b738; }

.promo__image {
  background-image: url("../../img/promo-cat-mini.jpg");
  background-repeat: no-repeat;
  background-position: top left;
  height: 302px;
  background-color: #68b738; }

.promo__title {
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  margin-top: 0;
  padding-top: 19px; }

.promo__paragraph {
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: #ffffff; }

/*# sourceMappingURL=style.css.map */
