.button-standard {
  font-family: $font-family-extra;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: $color-background;
  background-color: $color-main-buttons;
}

