.button {
  text-align: center;
  color: $color-background;
  text-transform: uppercase;
  text-decoration: none;

  background-color: $color-main-buttons;

  @include font-font($font-family-extra, normal, normal, 14px, 18px);
  display: block;

  &:hover {
    background-color: $color-active-button;
  }

  &:focus {
    @include my-focus();
  }

  &:active {
    background-color: $color-active-button;
    color: rgba($color-background, 0.3);

    @include my-active();
  }
}
