.button {
  text-align: center;
  color: $color-background;
  text-transform: uppercase;
  text-decoration: none;

  background-color: $color-main-buttons;

  @include font-font($font-family-extra, normal, normal, 14px, 18px);
  display: block;
}
