.catalog-main__list {
  @include list-reset();

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 4px;
  }

  @media (min-width: $mobile-width) and (max-width: $mobile-width-only) {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: -20px;
      right: 0;
      top: 0;
      height: 1px;
      background: $color-catalog-article;
      width: calc(100% + 40px);
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 12px;
  }
}

.catalog-main__item {
  padding-top: 19px;
  padding-bottom: 25px;
  position: relative;

  @media (min-width: $mobile-width) and (max-width: $mobile-width-only) {
    padding-top: 5px;
    padding-bottom: 7px;

    &::before {
      content: "";
      position: absolute;
      left: -20px;
      right: 0;
      bottom: 0;
      height: 1px;
      background: $color-catalog-article;
      width: calc(100% + 40px);
    }
  }

  @media (min-width: $tablet-width) and (max-width: $tablet-width-only) {
    width: 45%;
    flex-grow: 1;

    &:nth-child(odd) {
      margin-right: 60px;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  @media (min-width: $desktop-width) {
    max-width: 20%;
    margin-right: 80px;
    flex-grow: 1;

    &:nth-child(4n) {
      margin-right: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.catalog-main__section {
  padding-top: 25px;
  padding-bottom: 25px;
}

.catalog-main__article {
  margin-bottom: 18px;
}
