.catalog-aside {
  position: relative;
  min-height: 289px;
  margin: 0;

  background-image: url("../img/get-gift-gift-mini.svg");
  background-repeat: no-repeat;
  background-position: 50% 23%;
  padding-bottom: 35px;

  @media (min-width: $tablet-width) {
    margin-top: 70px;
    margin-bottom: 40px;
    background-position: 80px 45%;
  }
}

.catalog-aside__image-main {
  margin-top: 39px;
  display: flex;
  justify-content: center;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    width: 100%;
    height: 100%;
    max-height: 289px;
  }

  &::after {
    background-image: url("../img/get-gift-cat-medium.jpg");
    background-repeat: no-repeat;
    background-position: top center;
  }

  &::before {
    background-color: $color-main-buttons;
  }

  @media (min-width: $tablet-width) {
    justify-content: flex-end;
    align-items: center;
  }
}

.catalog-aside__paragraph {
  position: absolute;
  width: 165px;
  text-align: center;
  margin-top: 186px;

  color: $color-background;

  @include font-font($font-family-main, normal, normal, 16px, 20px);

  @media (min-width: $tablet-width) {
    width: 175px;
    text-align: left;
    margin-right: 70px;
    padding-top: 130px;
  }
}

.catalog-aside--margin {
  margin-bottom: 35px;
}
