.catalog-aside {
  position: relative;
  min-height: 289px;
  margin: 0;

  background-image: url("../img/get-gift-gift-mini.svg");
  background-repeat: no-repeat;
  background-position: 50% 23%;
  padding-bottom: 35px;

  @media (min-width: $tablet-width) {
    margin-top: 69px;
    margin-bottom: 0;
    background-position: 80px 35%;
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    margin-top: 140px;
    background-position: 50% 23%;
  }
}

.catalog-aside__image-main {
  margin-top: 39px;
  display: flex;
  justify-content: center;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    width: 100%;
    height: 100%;
    max-height: 289px;

    @media (min-width: $tablet-width) {
      max-height: 200px;
    }

    @media (min-width: $desktop-width) {
      max-height: 289px;
    }
  }

  &::after {
    background-image: url("../img/catalog-aside/get-gift-cat-medium.jpg");
    background-repeat: no-repeat;
    background-position: top center;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/catalog-aside/get-gift-cat-medium@2x.jpg");
      background-size: 280px auto;
    }

    @media (min-width: $tablet-width) {
      background-image: url("../img/catalog-aside/get-gift-cat-max.jpg");
      background-position: top center;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/catalog-aside/get-gift-cat-max@2x.jpg");
        background-size: 708px auto;
      }
    }

    @media (min-width: $desktop-width) {
      background-image: url("../img/catalog-aside/get-gift-cat-mini.jpg");
      background-position: top center;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/catalog-aside/get-gift-cat-mini@2x.jpg");
        background-size: 245px auto;
      }
    }
  }

  &::before {
    background-color: $color-main-buttons;
  }

  @media (min-width: $tablet-width) {
    justify-content: flex-end;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    justify-content: center;
    align-items: center;
  }
}

.catalog-aside__paragraph {
  position: absolute;
  width: 165px;
  text-align: center;
  margin-top: 186px;

  color: $color-background;

  @include font-font($font-family-main, normal, normal, 16px, 20px);

  @media (min-width: $tablet-width) {
    width: 175px;
    text-align: left;
    margin-right: 70px;
    padding-top: 51px;
  }

  @media (min-width: $desktop-width) {
    width: 165px;
    text-align: center;
    margin-top: 250px;
    margin-right: 0;
  }
}

.catalog-aside--margin {
  margin-bottom: 35px;
}
