.catalog-extra-section__list {
  margin: 0;
}

.catalog-extra-section__term {
  @include font-font($font-family-main, normal, normal, 14px, 14px);
}

.catalog-extra-section__definition {
  text-align: center;

  @include font-font($font-family-main, normal, normal, 14px, 14px);
}

.catalog-extra-section__button {
  font-size: 16px;
  line-height: 20px;
}

.catalog-extra-section__title {
  margin: 0;
  padding-top: 13px;
  padding-bottom: 13px;

  text-align: center;
  color: $color-checkbox-text;
  text-transform: uppercase;

  @include font-font($font-family-extra, normal, normal, 16px, 16px);
}

.catalog-extra-section__link {
  color: $color-checkbox-text;

  @include link-reset();
}
