.catalog-aside {
  position: relative;

  min-height: 289px;
  margin: 0;

  background-image: url("../img/get-gift-gift-mini.svg");
  background-repeat: no-repeat;
  background-position: 50% 35%;
}

.catalog-aside__image-main {
  margin-top: 39px;
  /* //TODO:display: flex; justify-content: center; */

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    width: 100%;
    height: 100%;
    max-height: 289px;
  }

  &::after {
    background-image: url("../img/get-gift-cat-medium.jpg");
    background-repeat: no-repeat;
    background-position: top center;
  }

  &::before {
    background-color: $color-main-buttons;
  }
}

.catalog-aside__paragraph {
  position: absolute;

  margin-top: 186px;

  color: $color-background;

  @include font-font($font-family-main, normal, normal, 16px, 20px);
}

.catalog-aside--margin {
  margin-bottom: 35px;
}
