.container {
  width: auto;
  padding-top: 0;
  padding-right: 20px;
  padding-bottom: 0;
  padding-left: 20px;

  @media (min-width: $tablet-width) {
    width: auto;
    padding-top: 0;
    padding-right: 30px;
    padding-bottom: 0;
    padding-left: 30px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
    padding-right: 110px;
    padding-bottom: 0;
    padding-left: 110px;
    width: 1440px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
  }
}
