.example {
  margin: 0;

  background-color: $color-index-example;
  outline: 3px solid rgba(255, 0, 0, 0.8);
  outline-offset: -3px;
}

.example__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.example__title {
  margin-top: 0;
  padding-top: 27px;

  text-align: center;
  color: $font-family-main;

  @include font-font($font-family-extra, normal, normal, 36px, 40px);
}

.example__list {
  position: relative;

  display: grid;

  grid-column-gap: 20px;
  grid-template-columns: 1fr 1fr;
}

.example__term {
  box-sizing: border-box;
  width: 124px;
  height: 64px;
  padding-top: 17px;

  text-align: center;
  color: $color-main-text;
  text-transform: uppercase;

  border: 1px solid $color-elements-inner;
  border-radius: 5%;

  @include font-font($font-family-extra, normal, normal, 24px, 24px);
}

.example__term-wrapper {
  position: relative;
}

.example__definition {
  position: absolute;
  z-index: 1;

  max-width: 80px;
  margin-top: -10px;
  margin-left: 23px;

  text-align: center;

  background-color: $color-index-example;

  @include font-font($font-family-main, normal, normal, 12px, 12px);
}

.example__cost {
  text-align: center;
  color: $color-main-text;
  text-transform: uppercase;

  @include font-font($font-family-extra, normal, normal, 14px, 20px);
}

.example__button {
  text-align: center;
  color: $color-main-text;
  text-transform: uppercase;

  background-color: transparent;
  border: 0;

  @include font-font($font-family-extra, normal, normal, 16px, 20px);
}

.example__controls {
  box-sizing: border-box;
  height: 20px;
}

.example__scale {
  box-sizing: border-box;
  width: 84px;
  height: 14px;
  padding-top: 3px;

  background-color: $color-background;
  border: 1px solid $color-elements-inner;
  border-radius: 10px;
}

.example__bar {
  box-sizing: border-box;
  width: 35px;
  height: 6px;
  margin-left: 6px;

  background-color: $color-main-buttons;
  border: 1px solid gray;
  border-radius: 10px;
}

.example__slider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 25px;
}

.example__range-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 23px;
}

.example__range {
  padding-top: 6px;
}
