.features {
  display: grid;
  justify-content: center;
  margin: 0;

  outline: 3px solid rgba(160, 120, 0, 0.8);
  outline-offset: -3px;
}

.features__list {
  padding-bottom: 18px;

  @include list-reset();
}

.features__title {
  margin-top: 0;
  padding-top: 27px;

  text-align: center;
  color: $color-main-text;

  @include font-font($font-family-extra, normal, normal, 36px, 40px);
}

.features__paragraph {
  position: relative;

  min-height: 54px;
  margin-bottom: 24px;
  padding-left: 80px;

  &--one::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 60px;
    height: 60px;

    background-color: $color-main-buttons;
    background-image: url("../img/features-leaf-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &--two::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 60px;
    height: 60px;

    background-color: $color-main-buttons;
    background-image: url("../img/features-tub-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &--three::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 60px;
    height: 60px;

    background-color: $color-main-buttons;
    background-image: url("../img/features-eat-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &--four::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 60px;
    height: 60px;

    background-color: $color-main-buttons;
    background-image: url("../img/features-alarm-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}
