.features {
  @media (max-width: $mobile-width-only) {
    display: grid;
  }

  justify-content: center;

  @media (min-width: $tablet-width) {
    justify-content: flex-start;

    border-bottom: 1px solid $color-menu-borders;
  }

  @media (min-width: $desktop-width) {

    justify-content: flex-start;

    border-bottom: none;
  }
}

.features__item {
  @media (min-width: $tablet-width) {
    min-width: 250px;
    min-height: 280px;
    margin-right: 100px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 71px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.features__list {
  padding-bottom: 18px;

  @include list-reset();

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 33px;

    counter-reset: section;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 20px;
  }
}

.features__title {
  margin-top: 0;
  padding-top: 27px;

  text-align: center;
  color: $color-main-text;

  @include font-font($font-family-extra, normal, normal, 36px, 40px);

  @media (min-width: $tablet-width) {
    text-align: left;

    @include font-font($font-family-extra, normal, normal, 60px, 60px);
  }

  @media (min-width: $desktop-width) {
    padding-top: 71px;
  }
}

.features__paragraph {
  position: relative;

  min-height: 54px;
  margin-bottom: 24px;
  padding-left: 80px;

  &--one::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 60px;
    height: 60px;

    background-color: $color-main-buttons;
    background-image: url("../img/features-leaf-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &--two::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 60px;
    height: 60px;

    background-color: $color-main-buttons;
    background-image: url("../img/features-tub-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &--three::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 60px;
    height: 60px;

    background-color: $color-main-buttons;
    background-image: url("../img/features-eat-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &--four::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 60px;
    height: 60px;

    background-color: $color-main-buttons;
    background-image: url("../img/features-alarm-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

@media (min-width: $tablet-width) {
  .features__paragraph {
    max-width: 245px;
    margin-top: 130px;
    padding-left: 0;

    @include font-font($font-family-main, normal, normal, 16px, 24px);

    &--one::before {
      top: -111px;
      left: 0;

      width: 80px;
      height: 80px;
    }

    &--one::after {
      content: counter(section);
      position: absolute;
      top: -150px;
      left: 100px;
      z-index: -1;

      color: $color-main-blocks;

      counter-increment: section;

      @include font-font($font-family-extra, normal, normal, 280px, 280px);
    }

    &--two::before {
      top: -111px;
      left: 0;

      width: 80px;
      height: 80px;
    }

    &--two::after {
      content: counter(section);
      position: absolute;
      top: -150px;
      left: 100px;
      z-index: -1;

      color: $color-main-blocks;

      counter-increment: section;

      @include font-font($font-family-extra, normal, normal, 280px, 280px);
    }

    &--three::before {
      top: -111px;
      left: 0;

      width: 80px;
      height: 80px;
    }

    &--three::after {
      content: counter(section);
      position: absolute;
      top: -150px;
      left: 100px;
      z-index: -1;

      color: $color-main-blocks;

      counter-increment: section;

      @include font-font($font-family-extra, normal, normal, 280px, 280px);
    }

    &--four::before {
      top: -111px;
      left: 0;

      width: 80px;
      height: 80px;
    }

    &--four::after {
      content: counter(section);
      position: absolute;
      top: -150px;
      left: 100px;
      z-index: -1;

      color: $color-main-blocks;

      counter-increment: section;

      @include font-font($font-family-extra, normal, normal, 280px, 280px);
    }
  }
}
