.main-nav {
  outline: 3px solid rgba(0, 255, 0, 0.8);
  outline-offset: -3px;
}

.site-list__item {
  list-style: none;
  color: $color-main-text;
  font-family: $font-family-menu;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  padding-bottom: 24px;
  padding-top: 22px;
  border-top: 1px solid $color-menu-borders;
}

.main-nav__toggle {
  position: absolute;
  right: 24px;
  top: 1px;
  width: 18px;
  height: 18px;
  opacity: 1;
  border: 0;
  background-color: $color-background;

  &:hover {
    opacity: 1;
  }

  &::before,
  &::after {
    position: absolute;
    left: 8px;
    content: " ";
    height: 24px;
    top: -2px;
    width: 2px;
    background-color: $color-main-text;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}
