.more-section {
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5px;

  @media (min-width: $tablet-width) {
    padding-top: 52px;
    padding-left: 36px;
    padding-right: 36px;
    border: 2px solid $color-main-blocks;
    padding-bottom: 38px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 47px;
  }
}

.more-section--pseudo {
  position: relative;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
    margin-top: 97px;
  }

  &::after {
    position: absolute;
    content: "";
    background-image: url("../img/catalog-main-plus-icon.svg");
    top: 7%;
    width: 30px;
    height: 30px;

    @media (min-width: $tablet-width) {
      top: 11%;
      width: 60px;
      height: 60px;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}

.more-section__title {
  margin-top: 55px;
  padding-top: 5px;
  margin-bottom: 0;
  text-align: center;
  color: $color-text-extra;
  text-transform: uppercase;

  @include font-font($font-family-extra, normal, normal, 16px, 20px);

  @media (min-width: $tablet-width) {
    padding-top: 40px;
    width: 134px;
    padding-bottom: 13px;

    @include font-font($font-family-extra, normal, normal, 20px, 22px);
  }
}

.more-section__paragraph {
  text-align: center;

  @include font-font($font-family-main, normal, normal, 12px, 16px);

  @media (min-width: $tablet-width) {
    width: 170px;

    @include font-font($font-family-main, normal, normal, 16px, 18px);
    padding-bottom: 52px;
  }
}

.more-section__link {
  text-align: center;
  color: $color-main-inputs;
  text-transform: uppercase;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  background-color: $color-main-blocks;

  @include font-font($font-family-extra, normal, normal, 16px, 20px);
  @include link-reset();

  &:hover {
    background-color: $color-catalog-article;
  }

  &:active {
    color: rgba($color-main-inputs, 0.3);
    background-color: $color-catalog-article;
  }
}

.more-section__image-plus {
  stroke: $color-elements-extra;

  @media (min-width: $tablet-width) {
    width: 60px;
    height: 60px;
  }
}
