.page-main {
  margin: 0;
}

.page-main__catalog {
  @include font-font($font-family-extra, normal, normal, 36px, 36px);
  color: $color-main-text;
  margin-top: 27px;
  padding-bottom: 41px;
  margin-left: 20px;
  margin-bottom: 0;
}
