.page {
  height: 100%;
  font-family: $font-family-main;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
}

.page__body {
  min-height: 100%;
  background-color: $color-background;
  color: $color-main-inputs;
  margin: 0;
}

