.page {
  @include font-font($font-family-main, normal, normal, 14px, 18px);
  height: 100%;
}

.page__body {
  min-height: 100%;
  background-color: $color-background;
  color: $color-main-inputs;
  margin: 0;
}
