.page-main {
  margin: 0;
}

.page-main__catalog {
  margin-top: 27px;
  margin-bottom: 0;
  margin-left: 20px;
  padding-bottom: 41px;

  color: $color-main-text;

  @include font-font($font-family-extra, normal, normal, 36px, 36px);
}

.page-main--form {
  overflow: hidden;
}
