.page-footer {
  background-color: $color-main-blocks;

  @media (min-width: $tablet-width) {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.page-footer__wrapper {
  grid-row-start: 3;
  grid-row-end: 4;
  display: block;
  text-align: center;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .page-footer__img-wrapper {
    margin: 0;
    padding-top: 39px;
    padding-bottom: 32px;

    border-bottom: 1px solid $color-index-borders;

    @media (min-width: $tablet-width) {
      border-bottom: none;
    }
  }
}

.page-footer__paragraph {
  padding-top: 12px;
  padding-bottom: 12px;
}

.page-footer__html-academy {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include font-font($font-family-main, normal, normal, 16px, 18px);
  @include link-reset();

  color: $color-main-inputs;

  &:focus {
    @include my-focus();
  }

  &:active {
    @include my-active();

    opacity: 0.3;
  }

  &:hover .page-footer__html-academy-image {
    fill: $color-main-buttons;
  }

  @media (min-width: $tablet-width) {
    min-width: 163px;
  }
}

.page-footer__html-academy-image {
  fill: $color-fill-icons;
}

.page-footer__cat-energy {
  outline: 0;

  &:hover .page-footer__img {
    opacity: 0.8;
  }

  &:focus .page-footer__img {
    @include my-focus();
  }

  &:active .page-footer__img {
    @include my-active();
    opacity: 0.6;
  }
}
