.page-main {
  margin: 0;
}

.page-main__catalog {
  margin-top: 27px;
  margin-bottom: 41px;

  color: $color-main-text;

  @include font-font($font-family-extra, normal, normal, 36px, 36px);

  @media (min-width: $tablet-width) {
    @include font-font($font-family-extra, normal, normal, 60px, 60px);

    margin-bottom: 42px;
  }
}

.page-main--form {
  overflow: hidden;
}
