.program-selection {
  margin: 0;
}

.program-selection__title {

  color: $color-main-text;

  @include font-font($font-family-extra, normal, normal, 36px, 36px);
  padding-bottom: 5px;

  @media (max-width: $mobile-width-only) {
    margin-top: 0;
  }

  @media (min-width: $tablet-width) {
    @include font-font($font-family-extra, normal, normal, 60px, 60px);
    margin-bottom: 54px;
  }
}

.program-selection__paragraph {

  color: $color-main-text;
  text-transform: uppercase;

  @include font-font($font-family-extra, normal, normal, 14px, 18px);

  @media (min-width: $tablet-width) {
    @include font-font($font-family-extra, normal, normal, 20px, 30px);
    margin-bottom: 30px;
  }
}

.program-selection__input:not(:checked) + label {
  &::before {
    content: "";
    position: absolute;
    top: 2px;
    left: -43px;

    box-sizing: border-box;
    width: 31px;
    height: 31px;

    border: 1px solid $color-elements-inner;
    border-radius: 50%;

    @media (min-width: $tablet-width) {
      width: 41px;
      height: 41px;
      left: -63px;
      top: 5px;
    }
  }
}

.program-selection__input:checked + label {
  &::before {
    content: "";
    position: absolute;
    top: 2px;
    left: -43px;

    box-sizing: border-box;
    width: 31px;
    height: 31px;

    border: 1px solid $color-elements-inner;
    border-radius: 50%;

    @media (min-width: $tablet-width) {
      width: 41px;
      left: -63px;
      height: 41px;
      top: 5px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 11px;
    left: -35px;

    box-sizing: border-box;
    width: 14px;
    height: 13px;

    background-color: $color-main-buttons;
    border-radius: 50%;

    @media (min-width: $tablet-width) {
      width: 19px;
      height: 18px;
      left: -52px;
      top: 17px;
    }
  }
}

.program-selection__input:not(:checked):focus + label,
.program-selection__input:checked:focus + label {
  &::before {
    @include my-focus();
  }
}

.program-selection__input:not(:checked):hover + label,
.program-selection__input:checked:hover + label {
  &::before {
    border-color: $color-checkbox-modified;
  }
}

.program-selection__input:not(:checked):disabled + label,
.program-selection__input:checked:disabled + label {
  opacity: 0.3;

  &::before,
  &::after {
    opacity: 1;
  }
}

.program-selection__input:not(:checked):disabled:hover + label,
.program-selection__input:checked:disabled:hover + label {
  &::before {
    border-color: $color-elements-inner;
  }
}

.program-selection__p {
  position: relative;

  margin-left: 65px;
  margin-right: 20px;
  padding-bottom: 5px;

  @media (min-width: $tablet-width) {
    margin-left: 86px;
    margin-right: 35px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 155px;
    margin-right: 110px;
  }
}

.program-selection__label {
  text-transform: uppercase;

  @include font-font($font-family-extra, normal, normal, 16px, 18px);
  margin-right: 13px;
  color: $color-checkbox-text;

  @media (min-width: $tablet-width) {
    @include font-font($font-family-extra, normal, normal, 20px, 30px);
  }
}
