.program-article__title {
  @include font-font($font-family-extra, normal, normal, 24px, 37px);
  text-transform: uppercase;
  text-align: center;
  color: $color-main-text;
  position: relative;
  padding-top: 30px;

  &--down::before {
    content: url("../img/program-cat-sitting-mini.svg");
    position: absolute;
    top: 21px;
    left: 22px;
    width: 50px;
    height: 53px;
  }

  &--up::before {
    content: url("../img/program-cat-sneak-mini.svg");
    position: absolute;
    top: 21px;
    left: 13px;
    width: 67px;
    height: 50px;
  }
}

.program-article__paragraph {
  border-bottom: 1px solid $color-index-borders;
  padding-bottom: 23px;
  padding-left: 20px;
}

.program-article__link {
  @include font-font($font-family-extra, normal, normal, 16px, 16px);
  text-align: center;
  text-transform: uppercase;
}
