.program-article-link {
  display: inline-block;
  margin-left: 20px;
  margin-bottom: 18px;

  @include link-reset();

  &:focus {
    @include my-focus();
  }

  &:active {
    color: rgba($color-main-text, 0.3);
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 53px;
    margin-left: 55px;
  }
}

.program-article-link__paragraph:last-of-type {
  margin-bottom: 0;
}

.program-article-link__paragraph {
  margin-top: 0;

  @include font-font($font-family-extra, normal, normal, 20px, 30px);
}

@media (min-width: $desktop-width) {
  padding-bottom: 60px;
}
