.program-article__title {
  padding-top: 25px;
  padding-left: 15px;

  text-align: center;
  color: $color-main-text;
  text-transform: uppercase;

  @include font-font($font-family-extra, normal, normal, 24px, 37px);

  @media (max-width: $mobile-width-only) {
    &--up {
      padding-left: 40px;
    }
  }

  @media (min-width: $tablet-width) {
    padding-top: 52px;
    padding-left: 52px;

    color: $color-main-text;

    @include font-font($font-family-extra, normal, normal, 36px, 36px);
  }

  @media (min-width: $desktop-width) {
    padding-left: 214px;
    padding-top: 35px;
    padding-bottom: 10px;
  }
}

.program-article__paragraph {
  position: relative;

  padding-right: 20px;
  padding-bottom: 23px;
  padding-left: 20px;

  @media (max-width: $mobile-width-only) {
    border-bottom: 1px solid $color-index-borders;

    &--down::before {
      content: url("../img/program-cat-sitting-mini.svg");
      position: absolute;
      top: -70px;
      left: 22px;

      width: 50px;
      height: 53px;
    }

    &--up::before {
      content: url("../img/program-cat-sneak-mini.svg");
      position: absolute;
      top: -70px;
      left: 13px;

      width: 67px;
      height: 50px;
    }
  }

  @media (min-width: $tablet-width) and (max-width: $tablet-width-only) {
    position: relative;

    margin-top: 0;
    margin-right: 315px;
    margin-left: 35px;
    padding-top: 0;

    color: $color-main-text;

    border-bottom: none;

    @include font-font($font-family-main, normal, normal, 16px, 24px);

    &--down::after {
      content: url("../img/program-cat-sitting-max.svg");
      position: absolute;
      top: -80px;
      right: -250px;

      width: 200px;
      height: 211px;
    }

    &--up::after {
      content: url("../img/program-cat-sneak-max.svg");
      position: absolute;
      top: -80px;
      right: -280px;

      width: 268px;
      height: 200px;
    }
  }

  @media (min-width: $desktop-width) {
    @include font-font($font-family-main, normal, normal, 16px, 24px);

    margin-left: 32px;
    margin-right: 30px;
    margin-bottom: 0;
    padding-bottom: 15px;

    &--down::before {
      content: url("../img/program-cat-sitting-medium.svg");
      position: absolute;
      top: -135px;
      left: 20px;

      width: 100px;
      height: 106px;
    }

    &--up::before {
      content: url("../img/program-cat-sneak-medium.svg");
      position: absolute;
      top: -130px;
      left: 0;

      width: 134px;
      height: 100px;
    }
  }
}

.program-article__link {
  text-align: center;
  text-transform: uppercase;

  @include font-font($font-family-extra, normal, normal, 16px, 16px);
}
