.program-article-link {
  display: inline-block;
  margin-left: 20px;
  margin-bottom: 18px;

  @include link-reset();

  &:hover .program-article-link__arrow {
    width: 32px;
  }

  &:focus {
    @include my-focus();
  }

  &:active {
    color: rgba($color-main-text, 0.3);

    @include my-active();
  }

  &:active .program-article-link__arrow {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 53px;
    margin-left: 55px;
  }
}

.program-article-link__paragraph:last-of-type {
  margin-bottom: 0;
}

.program-article-link__paragraph {
  margin-top: 0;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: left;

  @media (max-width: $mobile-width-only) {
    padding-right: 20px;
  }

  @media (min-width: $tablet-width) {
    padding-right: 70px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 50px;
  }

  @include font-font($font-family-extra, normal, normal, 20px, 30px);
}

.program-article-link__arrow {
  stroke: $color-main-text;
  padding-left: 25px;
  width: 27px;
  height: 12px;
  transition: 0.3s;
  transform: translateX(-5px);
}
