.program {
  margin: 0;
  outline: 3px solid rgba(160, 120, 0, 0.8);
  outline-offset: -3px;
}

.program__article {
  display: block;
  margin-top: 22px;

  background-color: $color-main-blocks;
  outline: 3px solid rgba(130, 220, 0, 0.8);
  outline-offset: -3px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  @media (min-width: $desktop-width) {
    width: 47%;
    margin-right: 80px;
    margin-top: 82px;
    flex-grow: 1;

    &:last-child {
      margin-right: 0;
    }
  }
}

.program__wrapper:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
}

.program__wrapper {
  margin: 0;
  padding-top: 1px;
  padding-bottom: 1px;

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;

  }
}
