.program__article {
  display: block;
  margin-top: -3px;
  background-color: $color-main-blocks;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 36px;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
    margin-right: 80px;
    margin-top: 60px;

    &:nth-child(2n) {
      margin-right: 0;
    }
  }
}

.program__wrapper:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
}

.program__wrapper {
  margin: 0;
  padding-top: 1px;
  padding-bottom: 1px;

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}
