.program-article__title {
  position: relative;

  padding-top: 30px;

  text-align: center;
  color: $color-main-text;
  text-transform: uppercase;

  @include font-font($font-family-extra, normal, normal, 24px, 37px);

  &--up {
    padding-left: 35px;
  }

  &--down::before {
    content: url("../img/program-cat-sitting-mini.svg");
    position: absolute;
    top: 21px;
    left: 22px;

    width: 50px;
    height: 53px;
  }

  &--up::before {
    content: url("../img/program-cat-sneak-mini.svg");
    position: absolute;
    top: 21px;
    left: 13px;

    width: 67px;
    height: 50px;
  }
}

.program-article__paragraph {
  padding-right: 20px;
  padding-bottom: 23px;
  padding-left: 20px;

  border-bottom: 1px solid $color-index-borders;
}

.program-article__link {
  text-align: center;
  text-transform: uppercase;

  @include font-font($font-family-extra, normal, normal, 16px, 16px);
}
