.program-selection {
  margin: 0;
}

.program-selection__title {
  padding-left: 20px;

  color: $color-main-text;

  @include font-font($font-family-extra, normal, normal, 36px, 36px);
}

.program-selection__paragraph {
  padding-left: 20px;

  color: $color-main-text;
  text-transform: uppercase;

  @include font-font($font-family-extra, normal, normal, 14px, 18px);
}

.program-selection__input:not(:checked) + label {
  &::before {
    content: "";
    position: absolute;
    top: -8px;
    left: -43px;

    box-sizing: border-box;
    width: 31px;
    height: 31px;

    border: 1px solid $color-elements-inner;
    border-radius: 50%;
  }
}

.program-selection__input:checked + label {
  &::before {
    content: "";
    position: absolute;
    top: -8px;
    left: -43px;

    box-sizing: border-box;
    width: 31px;
    height: 31px;

    border: 1px solid $color-elements-inner;
    border-radius: 50%;
  }

  &::after {
    content: "";
    position: absolute;
    top: 1px;
    left: -35px;

    box-sizing: border-box;
    width: 14px;
    height: 13px;

    background-color: $color-main-buttons;
    border-radius: 50%;
  }
}

.program-selection__p {
  position: relative;

  margin-left: 65px;
  padding-bottom: 10px;
}
