.promo {

  @media (max-width: $mobile-width-only) {
    position: relative;
  }

  outline: 3px solid $color-background-picture;
  outline-offset: -3px;

  @media (max-width: $mobile-width-only) {
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;

      width: 100%;
      height: 100%;
      max-height: 302px;
    }

    &::after {
      background-image: url("../img/promo-cat-mini.jpg");
      background-repeat: no-repeat;
      background-position: top center;
    }

    &::before {
      background-color: $color-background-picture;
    }
  }

  @media (min-width: $desktop-width) {
    min-height: 550px;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      z-index: -1;
      max-height: 100%;
      min-height: 660px;
      max-width: 50%;
      min-width: 720px;
      background-image: url("../img/promo-cat-max.jpg");
      background-color: $color-background-picture;
      background-repeat: no-repeat;
      background-position: top;
    }
  }
}

.promo__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

@media (min-width: $desktop-width) {
  .promo__wrapper img {
    position: absolute;
    top: 143px;
    left: 558px;
  }
}

/* //TODO: Это я потом уберу
.promo__image {
  height: 302px;

  background-color: $color-main-buttons;
  background-image: url("../img/promo-cat-mini.jpg");
  background-repeat: no-repeat;
  background-position: top left;
}
*/

.promo__title {
  margin-top: 0;
  padding-top: 19px;

  text-align: center;
  color: $color-background;

  @include font-font($font-family-extra, normal, normal, 36px, 36px);

  @media (min-width: $tablet-width) {
    @include font-font($font-family-extra, normal, normal, 60px, 60px);
    color: $color-main-text;
    max-width: 414px;
    text-align: left;
    margin-top: 54px;
    margin-bottom: 0;
    margin-left: 85px;
  }
}

.promo__paragraph {
  color: $color-background;
  text-transform: uppercase;

  @include font-font($font-family-extra, normal, normal, 14px, 14px);

  @media (min-width: $tablet-width) {
    @include font-font($font-family-extra, normal, normal, 20px, 20px);
    color: $color-main-text;
    padding-top: 0;
    margin-top: 41px;
    margin-left: 85px;
  }
}

.promo__button {
  @media (max-width: $mobile-width-only) {
    width: 100%;
  }
  padding-top: 10px;
  padding-bottom: 10px;

  @media (min-width: $tablet-width) {
    @include font-font($font-family-extra, normal, normal, 20px, 20px);
    position: absolute;
    top: 380px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 26px;
    padding-right: 26px;
    margin-left: 85px;
  }

  @media (min-width: $desktop-width) {
    top: 430px;
  }
}
