.selection-form {
  margin: 0;
}

.selection-form__wrapper {
  @media (min-width: $tablet-width) {
    margin-right: 40px;
    margin-left: 40px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 0;
    margin-left: 0;
  }
}

.selection-form__fieldset {
  padding: 0;
  margin: 0;
  border: none;

  @media (min-width: $tablet-width) {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.selection-form__input {
  box-sizing: border-box;
  height: 45px;
  padding-left: 14px;
  min-width: 100px;

  color: $color-main-inputs;
  text-transform: uppercase;
  border: 2px solid transparent;
  box-shadow: 0 0 0 1px $color-textarea-border;

  @include font-font($font-family-extra, normal, normal, 16px, 18px);
  flex-grow: 1;

  &--phone {
    @media (min-width: $tablet-width) {
      padding-left: 15px;
    }
  }

  @media (min-width: $tablet-width) {
    @include font-font($font-family-extra, normal, normal, 20px, 30px);
    height: 50px;
    margin-left: 5px;
    margin-right: 3px;

    &--weight {
      padding-left: 17px;
    }
  }

  &:required:focus:invalid {
    border: 2px solid $color-input-error;
  }

  &:required:focus:invalid + .selection-form__input-email-image {
    stroke: $color-input-error;
  }

  &:required:focus:invalid + .selection-form__input-phone-image {
    fill: $color-input-error;
  }

  &:hover {
    border: 2px solid transparent;
    box-shadow: 0 0 0 1px $color-elements-inner;
  }

  &:hover + .selection-form__input-email-image {
    stroke: $color-checkbox-text;
  }

  &:hover + .selection-form__input-phone-image {
    fill: $color-checkbox-text;
  }

  &:focus-visible {
    @include my-active();
  }

  &:focus {
    border: 2px solid $color-main-inputs;
  }

  &:focus + .selection-form__input-email-image {
    stroke: $color-main-buttons;
  }

  &:focus + .selection-form__input-phone-image {
    fill: $color-main-buttons;
  }
}

.selection-form__input--email {
  padding-left: 10px;

  @media (min-width: $tablet-width) {
    padding-left: 20px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 14px;
    margin-left: 11px;
  }
}

.selection-form__input[type="number"] {
  appearance: textfield;
  margin: 0;

  @media (min-width: $tablet-width) {
    margin-right: 3px;
    margin-left: -1px;
  }
}

.selection-form__input[type="number"]::-webkit-outer-spin-button,
.selection-form__input[type="number"]::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.selection-form__input::placeholder {
  opacity: 1;
  color: $color-main-inputs;
}

.selection-form__input::-webkit-input-placeholder {
  opacity: 1;
  color: $color-main-inputs;
}

.selection-form__input::-moz-placeholder {
  opacity: 1;
  color: $color-main-inputs;
}

.selection-form__label {
  color: $color-main-inputs;
  text-transform: uppercase;

  @include font-font($font-family-extra, normal, normal, 16px, 18px);
  margin-right: 13px;
  flex-shrink: 0;

  @media (min-width: $tablet-width) {
    @include font-font($font-family-extra, normal, normal, 20px, 30px);
    margin-left: -6px;
  }
}

.selection-form__label--padding {
  @media (min-width: $mobile-width) and (max-width: $mobile-width-only) {
    padding-right: 3px;
  }

  @media (min-width: $tablet-width) {
    padding-right: 7px;
  }
}

.selection-form__list {
  @include list-reset();
  padding-top: 8px;
  padding-bottom: 3px;

  @media (min-width: $tablet-width) {
    margin-top: -28px;
    margin-bottom: 0;
    margin-left: 25px;
    margin-right: 22px;
    padding-top: 0;
    padding-bottom: 22px;
    box-sizing: border-box;
    border: 1px solid $color-index-borders;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 28px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: -39px;

    &:first-child {
      padding-top: 0;
    }
  }

  &:first-child {
    padding-top: 20px;
  }
}

.selection-form__fieldset--line {
  border-top: 2px solid $color-main-buttons;
  margin-top: 40px;
  margin-right: -20px;

  @media (min-width: $tablet-width) {
    margin-top: 70px;
  }
}

.selection-form__fieldset--margin {
  @media (min-width: $desktop-width) {
    margin-top: 52px;
  }
}

.selection-form__title-fieldset {
  background-color: $color-background;

  @include font-font($font-family-extra, normal, normal, 24px, 26px);
  width: 190px;
  padding-right: 10px;
  padding-left: 20px;
  top: -60px;
  position: absolute;

  @media (min-width: $mobile-width) and (max-width: $mobile-width-only) {
    padding-top: 2px;
  }

  @media (min-width: $tablet-width) {
    width: 550px;
    padding-right: 0;
    padding-left: 35px;
    left: 33px;
    top: -86px;

    @include font-font($font-family-extra, normal, normal, 36px, 36px);
  }

  @media (min-width: $desktop-width) {
    left: 75px;
    top: -75px;
  }
}

.selection-form__legend-wrapper {
  position: relative;
  padding-right: 20px;
  max-width: 1440px;
  margin: 0 auto;
}

.selection-form__container {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 80px;
  }
}

.selection-form__legend--size {
  @media (min-width: $mobile-width) and (max-width: $mobile-width-only) {
    max-width: 187px;
    padding-top: 22px;
  }
}

.selection-form__textarea {
  box-sizing: border-box;
  min-height: 148px;
  margin-top: 35px;
  padding-left: 13px;
  padding-top: 6px;
  flex-grow: 1;
  border: 2px solid transparent;
  box-shadow: 0 0 0 1px $color-textarea-border;

  @media (min-width: $mobile-width) and (max-width: $mobile-width-only) {
    margin-bottom: 62px;
  }

  @media (min-width: $tablet-width) {
    margin-top: 45px;
    margin-left: 5px;
    min-height: 173px;
    margin-bottom: 65px;
    margin-right: 4px;
    padding-top: 10px;
    padding-left: 17px;

    @include font-font($font-family-extra, normal, normal, 20px, 30px);
  }

  @media (min-width: $desktop-width) {
    padding-left: 15px;
  }

  &:focus-visible {
    @include my-active();
  }

  &:hover {
    border: 2px solid transparent;
    box-shadow: 0 0 0 1px $color-elements-inner;
  }

  &:focus {
    border: 2px solid $color-main-inputs;
    box-shadow: none;
  }
}

.selection-form__textarea-wrapper {
  padding-top: 15px;
  display: flex;
  margin-bottom: -65px;

  @media (min-width: $tablet-width) {
    padding-top: 26px;
    padding-bottom: 3px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 27px;
    margin-left: -3px;
    margin-right: -3px;
    margin-bottom: -60px;
  }
}

.selection-form__textarea::placeholder {
  text-align: left;
  color: $color-main-inputs;
  text-transform: uppercase;
  opacity: 1;

  @include font-font($font-family-extra, normal, normal, 16px, 18px);

  @media (min-width: $tablet-width) {
    @include font-font($font-family-extra, normal, normal, 20px, 30px);
  }
}

.selection-form__textarea::-webkit-input-placeholder {
  text-align: left;
  color: $color-main-inputs;
  text-transform: uppercase;
  opacity: 1;

  @include font-font($font-family-extra, normal, normal, 16px, 18px);

  @media (min-width: $tablet-width) {
    @include font-font($font-family-extra, normal, normal, 20px, 30px);
  }
}

.selection-form__textarea:-moz-placeholder {
  text-align: left;
  color: $color-main-inputs;
  text-transform: uppercase;
  opacity: 1;

  @include font-font($font-family-extra, normal, normal, 16px, 18px);

  @media (min-width: $tablet-width) {
    @include font-font($font-family-extra, normal, normal, 20px, 30px);
  }
}

.selection-form__textarea::-moz-placeholder {
  text-align: left;
  color: $color-main-inputs;
  opacity: 1;
  text-transform: uppercase;

  @include font-font($font-family-extra, normal, normal, 16px, 18px);

  @media (min-width: $tablet-width) {
    @include font-font($font-family-extra, normal, normal, 20px, 30px);
  }
}

.selection-form__paragraph {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;

  @media (min-width: $tablet-width) {
    margin-bottom: 21px;
    margin-left: 6px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 2px;
  }
}

.program-selection__label {
  padding-top: 5px;
  padding-bottom: 1px;
}

.selection-form__submit-wrapper {
  padding-bottom: 1px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: -17px;
    margin-left: 5px;
    margin-bottom: -2px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
    margin-top: -9px;
    margin-bottom: 11px;
  }
}

.selection-form__button {
  width: 100%;
  border: 0;
  display: inline-block;
  margin-bottom: 21px;
  padding-top: 6px;
  padding-bottom: 6px;

  @media (min-width: $tablet-width) {
    margin-bottom: 72px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 283px;
    margin-right: 62px;

    @include font-font($font-family-extra, normal, normal, 20px, 0);
    padding-left: 25px;
    padding-right: 25px;
  }

  @media (min-width: $desktop-width) {
    width: 568px;
    margin-right: 81px;
  }
}

.selection-form__span {
  line-height: 30px;
  font-size: 16px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }
}

.selection-form__required {
  color: $color-main-text;
  margin-top: 0;
  margin-bottom: 31px;

  @include font-font($font-family-main, normal, normal, 14px, 16px);

  @media (min-width: $tablet-width) {
    margin-top: 15px;

    @include font-font($font-family-main, normal, normal, 16px, 16px);
  }
}

.selection-form__paragraph--margin-top {
  padding-top: 54px;

  @media (min-width: $tablet-width) {
    margin-left: 13px;
    margin-right: -1px;
    padding-top: 61px;
    padding-bottom: 2px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 60px;
    margin-left: 6px;
  }
}

.selection-form__paragraph--margin-bottom {
  @media (min-width: $mobile-width) and (max-width: $mobile-width-only) {
    margin-bottom: -2px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 5px;
    margin-left: 9px;
    margin-right: 0;
  }

  @media (min-width: $desktop-width) {
    padding-top: 40px;
    margin-left: 3px;
  }
}

.selection-form__fieldset--border {
  margin-top: 10px;
  margin-left: -20px;
  margin-right: -20px;
  border-top: 1px solid $color-menu-borders;
  border-bottom: 1px solid $color-menu-borders;

  @media (min-width: $tablet-width) {
    margin-top: 50px;
    border: 0;
    margin-bottom: 10px;
  }
}

.selection-form__title-fieldset--comment {
  top: -40px;
  width: 110px;
  padding-left: 20px;
  padding-right: 30px;

  @media (min-width: $tablet-width) {
    top: -75px;
    width: 180px;
    padding-left: 36px;
    padding-right: 36px;
  }
}

.selection-form__title-fieldset--extra {
  top: -85px;
  width: 130px;
  padding-left: 20px;
  padding-right: 30px;

  @media (min-width: $tablet-width) {
    top: -50px;
    width: 215px;
    padding-left: 37px;
    padding-right: 30px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 35px;
  }
}

.selection-form__fieldset-wrapper {
  @media (min-width: $mobile-width) and (max-width: $mobile-width-only) {
    margin-bottom: 4px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 80px;
    margin-bottom: -33px;
  }
}

.selection-form__overflow {
  overflow: hidden;
}

.selection-form__input-email-image {
  fill: transparent;
  stroke: $color-checkbox-text;
  stroke-width: 2px;
  position: absolute;
  right: 19px;
  margin-right: 1px;

  @media (min-width: $mobile-width) and (max-width: $mobile-width-only) {
    right: 15px;
  }
}

.selection-form__input-phone-image {
  fill: $color-checkbox-text;
  position: absolute;
  right: 15px;
  margin-right: 1px;

  @media (min-width: $mobile-width) and (max-width: $mobile-width-only) {
    right: 11px;
  }

  @media (min-width: $tablet-width) {
    margin-right: 2px;
  }
}

.selection-form__label--margin {
  @media (min-width: $mobile-width) and (max-width: $mobile-width-only) {
    margin-right: 9px;
  }
}

.selection-form__label--main {
  @media (min-width: $tablet-width) {
    margin-left: 0;
  }
}
