.selection-form {
  margin: 0;

  outline: 3px solid rgba(160, 120, 0, 0.8);
  outline-offset: -3px;
}

.selection-form__fieldset {
  box-sizing: border-box;
  padding: 0;

  border: none;
}

.selection-form__input {
  box-sizing: border-box;
  height: 45px;
  padding-left: 15px;

  color: $color-main-inputs;
  text-transform: uppercase;

  border: 1px solid $color-elements-inner;

  @include font-font($font-family-extra, normal, normal, 16px, 18px);
  flex-grow: 1;
}

.selection-form__input[type="number"] {
  -moz-appearance: textfield;
  margin: 0;
}

.selection-form__input::placeholder {
  opacity: 1;
  color: $color-main-inputs;
}

.selection-form__input::-webkit-input-placeholder {
  opacity: 1;
  color: $color-main-inputs;
}

.selection-form__input::-moz-placeholder {
  opacity: 1;
  color: $color-main-inputs;
}

.selection-form__label {
  color: $color-main-inputs;
  text-transform: uppercase;

  @include font-font($font-family-extra, normal, normal, 16px, 18px);
  margin-right: 13px;
}

.selection-form__list {
  @include list-reset();

  &--border {
    border-top: 1px solid $color-index-borders;
    border-bottom: 1px solid $color-index-borders;
  }

  &:first-child {
    padding-top: 20px;
  }
}

.selection-form__fieldset--line {

  border-top: 2px solid $color-main-buttons;

  &:nth-child(2) {
    padding-top: 15px;
  }
}

.selection-form__legend {
  padding-right: 15px;
  padding-left: 20px;

  color: $color-main-text;

  @include font-font($font-family-extra, normal, normal, 24px, 26px);
}

.selection-form__legend--size {
  max-width: 187px;
  padding-top: 22px;
}

.selection-form__textarea {
  box-sizing: border-box;
  min-height: 150px;
  margin-top: 37px;
  margin-bottom: 0;
  padding-top: 10px;

  border: 1px solid $color-textarea-border;
  flex-grow: 1;
}


.selection-form__textarea-wrapper {
  display: flex;
  margin-bottom: 20px;
}

.selection-form__textarea::placeholder {
  text-align: center;
  color: $color-main-inputs;
  text-transform: uppercase;
  opacity: 1;

  @include font-font($font-family-extra, normal, normal, 16px, 18px);
}

.selection-form__textarea::-webkit-input-placeholder {
  text-align: center;
  color: $color-main-inputs;
  text-transform: uppercase;
  opacity: 1;

  @include font-font($font-family-extra, normal, normal, 16px, 18px);
}

.selection-form__textarea:-moz-placeholder {
  text-align: center;
  color: $color-main-inputs;
  text-transform: uppercase;
  opacity: 1;

  @include font-font($font-family-extra, normal, normal, 16px, 18px);
}

.selection-form__textarea::-moz-placeholder {
  text-align: center;
  color: $color-main-inputs;
  opacity: 1;
  text-transform: uppercase;

  @include font-font($font-family-extra, normal, normal, 16px, 18px);
}

.selection-form__paragraph {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.program-selection__label {
  margin-top: 10px;
}

.selection-form__submit-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.selection-form__button {
  padding-top: 14px;
  padding-bottom: 14px;
  width: 100%;
  border: 0;
}

.selection-form__required {
  color: $color-main-text;

  @include font-font($font-family-main, normal, normal, 14px, 16px);
}
