.social {
  margin: 0;
  padding-top: 20px;
  padding-bottom: 21px;

  background-color: $color-main-blocks;
  border-bottom: 1px solid $color-index-borders;
}

.social__list {
  display: flex;
  justify-content: center;
  align-items: flex-end;

  @include list-reset();
}

.social__item {
  margin-right: 33px;

  &:last-child {
    margin-right: 0;
  }
}
