.social {
  margin: 0;
  background-color: $color-main-blocks;
  border-bottom: 1px solid $color-index-borders;

  @media (min-width: $tablet-width) {
    border-bottom: none;
    margin-left: 30px;
  }
}

.social__link--vkontakte .social__img {
  fill: $color-fill-icons;

  @media (min-width: $tablet-width) {
    width: 30px;
    height: 22px;
  }
}

.social__link--vkontakte {
  &:hover .social__img {
    fill: $color-main-buttons;
  }
}

.social__link--instagram {
  &:hover .social__img {
    fill: $color-main-buttons;
  }
}

.social__link--facebook {
  &:hover .social__img {
    stroke: $color-main-buttons;
  }
}

.social__link--instagram .social__img {
  fill: $color-fill-icons;

  @media (min-width: $tablet-width) {
    width: 23px;
    height: 23px;
  }
}

.social__link--facebook .social__img {
  margin-bottom: -3px;
  fill: transparent;
  stroke: $color-fill-icons;

  @media (min-width: $tablet-width) {
    width: 28px;
    height: 33px;
  }
}

.social__list {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;

  @include list-reset();

  @media (min-width: $desktop-width) {
    align-items: center;
  }
}

.social__item {
  margin-right: 33px;
  margin-top: 20px;
  margin-bottom: 19px;

  @media (min-width: $tablet-width) {
    margin-right: 23px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 24px;
    margin-top: 27px;
  }

  &:last-child {
    margin-right: 0;
  }
}

.social__item--instagram {
  @media (min-width: $desktop-width) {
    margin-top: 30px;
    margin-right: 21px;
    margin-left: 5px;
  }
}

.social__link {
  &:focus-visible {
    @include my-active();
  }

  &:focus .social__img {
    @include my-focus();
  }

  &:active .social__img {
    @include my-active();

    opacity: 0.3;
  }
}

.social__img--vkontakte {
  margin-left: -4px;
}
