/********** Alone & sad mixin **********/

@mixin font-font($font-family: $font-family-main, $style: normal, $weight: normal, $size: 14px, $line-height: 18px) {
  font-family: $font-family;
  font-style: $style;
  font-weight: $weight;
  font-size: $size;
  line-height: $line-height;
}
