/********** Mixins **********/

@mixin font-font($font-family: $font-family-main, $style: normal, $weight: normal, $size: 14px, $line-height: 18px) {
  font-style: $style;
  font-weight: $weight;
  font-size: $size;
  line-height: $line-height;
  font-family: $font-family;
}

@mixin list-reset() {
  margin: 0;
  padding: 0;

  list-style: none;
}

@mixin link-reset() {
  color: $color-main-text;
  text-decoration: none;
}

@mixin my-focus() {
  outline: 0;
  box-shadow: 0 0 10px $color-my-focus;
}

@mixin my-active() {
  outline: 0;
  box-shadow: none;
}
